<html>
<body>
    <div class="login">
       <h1>Student Placement Prediction</h1>
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        <div class="mb-3">
            <label class="form-label">cgpa</label>
            <input class="form-control" type="number" name="cgpa"
                placeholder="Enter your cgpa" min='0' max='10' step="any" required/>
        </div>
        <div class="mb-3">
            <label class="form-label">internships</label>
            <input class="form-control" type="number" name="internships"
                placeholder="Enter no. of internships" min='0' max='10' required/>
        </div>
        <div class="mb-3">
            <label class="form-label">projects</label>
            <input class="form-control" type="number" name="projects"
                placeholder="Enter no. of projects" min='0' max='10' required/>
        </div>
        <div class="mb-3">
            <label class="form-label">certifications</label>
            <input class="form-control" type="number" name="certifications"
                placeholder="Enter no. of certifications" min='0' max='10' required/>
        </div>
        <div class="mb-3">
            <label class="form-label">aptitudetestscore</label>
            <input class="form-control" type="number" name="aptitudetestscore"
                placeholder="Enter aptitudetestscore" min='0' max='100' required/>
        </div>
        <div class="mb-3">
            <label class="form-label">softskillsrating</label>
            <input class="form-control" type="number" name="softskillsrating"
                placeholder="Enter softskillsrating" min='0' max='5' step="any" required/>
        </div>
        
        <div class="mb-3">
            <label class="form-label">extracurricularactivities</label>
            <select class="form-control" name="extracurricularactivities" placeholder="Select" required>
                <option class="placeholder" selected disabled value="">Select extracurricularactivities</option>
                <option value="Yes">
                    Yes
                </option>
                <option value="No">
                    No
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">placementtraining</label>
            <select class="form-control" name="placementtraining" placeholder="Select" required>
                <option class="placeholder" selected disabled value="">Select placementtraining</option>
                <option value="Yes">
                    Yes
                </option>
                <option value="No">
                    No
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">ssc_marks</label>
            <input class="form-control" type="number" step="1" name="ssc_marks"
                placeholder="Enter ssc_marks" min='0' max='100' />
        </div>
        <div class="mb-3">
            <label class="form-label">hsc_marks</label>
            <input class="form-control" type="number" step="1" name="hsc_marks"
                placeholder="Enter hsc_marks" min='0' max='100' />
        </div>
        
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict your Placement Status" required />
        </div>
    </form>
    <h2>
       The Placement Status is {{results}}
    </h2>
   <body>
</html>