<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PLACEMENT PREDICTION</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">PLACEMENT PREDICTION</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="{{ url_for('index') }}">HOME</a></li>
                    <li><a href="{{ url_for('about') }}">ABOUT</a></li>
                </ul>
            </div>
        </div> 

        <div class="content">
            <h1>WELCOME TO<br><span>PLACEMENT</span><br>PREDICTION</h1>
            <p class="par">
                A Placement Prediction system is a digital tool aimed at helping students and job seekers assess 
                their likelihood of securing employment or internships. It utilizes various data points and advanced 
                algorithms to provide users with valuable insights into their chances of success in the job market. 
                By analyzing key factors, it offers a predictive approach to career opportunities, making the job 
                search more informed and strategic.
            </p>

            <button class="cn"><a href="{{ url_for('predict_datapoint') }}">PREDICT</a></button>
        </div>
    </div>

    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>
